
FatTwitchBotA/bin/Debug/net6.0/appsettings.json
.vs/
FatTwitchBotA/obj/Debug/net6.0/FatTwitchBotA.pdb
FatTwitchBotA/obj/Debug/net6.0/FatTwitchBotA.dll
FatTwitchBotA/bin/Debug/net6.0/FatTwitchBotA.pdb
FatTwitchBotA/bin/Debug/net6.0/FatTwitchBotA.dll
